Download lettuce
======================

 lettuce is distributed under the
 [Apache License, Version 2.0](http://www.apache.org/licenses/LICENSE-2.0.txt).

  The checksum and signature are links to the originals on the main distribution server.


lettuce 3.x
-----------

|                   | Download     | Checksum     | Signature    |
| ----------------- |:-------------|:-------------|:-------------|
| lettuce (jar) | [lettuce-${lettuce3-release-version}.jar](http://search.maven.org/remotecontent?filepath=biz/paluch/redis/lettuce/${lettuce3-release-version}/lettuce-${lettuce3-release-version}.jar)|[lettuce-${lettuce3-release-version}.jar.md5](http://search.maven.org/remotecontent?filepath=biz/paluch/redis/lettuce/${lettuce3-release-version}/lettuce-${lettuce3-release-version}.jar.md5)|[lettuce-${lettuce3-release-version}.jar.asc](http://search.maven.org/remotecontent?filepath=biz/paluch/redis/lettuce/${lettuce3-release-version}/lettuce-${lettuce3-release-version}.jar.asc)|
| lettuce shaded (jar) | [lettuce-${lettuce3-release-version}-shaded.jar](http://search.maven.org/remotecontent?filepath=biz/paluch/redis/lettuce/${lettuce3-release-version}/lettuce-${lettuce3-release-version}-shaded.jar)|[lettuce-${lettuce3-release-version}-shaded.jar.md5](http://search.maven.org/remotecontent?filepath=biz/paluch/redis/lettuce/${lettuce3-release-version}/lettuce-${lettuce3-release-version}-shaded.jar.md5)|[lettuce-${lettuce3-release-version}-shaded.jar.asc](http://search.maven.org/remotecontent?filepath=biz/paluch/redis/lettuce/${lettuce3-release-version}/lettuce-${lettuce3-release-version}-shaded.jar.asc)|
| lettuce binary (zip) | [lettuce-${lettuce3-release-version}-bin.zip](https://github.com/mp911de/lettuce/releases/download/${lettuce3-release-version}/lettuce-${lettuce3-release-version}-bin.zip)|[lettuce-${lettuce3-release-version}-bin.zip.md5](https://github.com/mp911de/lettuce/releases/download/${lettuce3-release-version}/lettuce-${lettuce3-release-version}-bin.zip.md5)|[lettuce-${lettuce3-release-version}-bin.zip.asc](https://github.com/mp911de/lettuce/releases/download/${lettuce3-release-version}/lettuce-${lettuce3-release-version}-bin.zip.asc)|
| lettuce binary (tar.gz) | [lettuce-${lettuce3-release-version}-bin.tar.gz](https://github.com/mp911de/lettuce/releases/download/${lettuce3-release-version}/lettuce-${lettuce3-release-version}-bin.tar.gz)|[lettuce-${lettuce3-release-version}-bin.tar.gz.md5](https://github.com/mp911de/lettuce/releases/download/${lettuce3-release-version}/lettuce-${lettuce3-release-version}-bin.tar.gz.md5)|[lettuce-${lettuce3-release-version}-bin.tar.gz.asc](https://github.com/mp911de/lettuce/releases/download/${lettuce3-release-version}/lettuce-${lettuce3-release-version}-bin.tar.gz.asc)|


lettuce 4.x
-----------

|                   | Download     | Checksum     | Signature    |
| ----------------- |:-------------|:-------------|:-------------|
| lettuce (jar) | [lettuce-${lettuce-release-version}.jar](http://search.maven.org/remotecontent?filepath=biz/paluch/redis/lettuce/${lettuce-release-version}/lettuce-${lettuce-release-version}.jar)|[lettuce-${lettuce-release-version}.jar.md5](http://search.maven.org/remotecontent?filepath=biz/paluch/redis/lettuce/${lettuce-release-version}/lettuce-${lettuce-release-version}.jar.md5)|[lettuce-${lettuce-release-version}.jar.asc](http://search.maven.org/remotecontent?filepath=biz/paluch/redis/lettuce/${lettuce-release-version}/lettuce-${lettuce-release-version}.jar.asc)|
| lettuce shaded (jar) | [lettuce-${lettuce-release-version}-shaded.jar](http://search.maven.org/remotecontent?filepath=biz/paluch/redis/lettuce/${lettuce-release-version}/lettuce-${lettuce-release-version}-shaded.jar)|[lettuce-${lettuce-release-version}-shaded.jar.md5](http://search.maven.org/remotecontent?filepath=biz/paluch/redis/lettuce/${lettuce-release-version}/lettuce-${lettuce-release-version}-shaded.jar.md5)|[lettuce-${lettuce-release-version}-shaded.jar.asc](http://search.maven.org/remotecontent?filepath=biz/paluch/redis/lettuce/${lettuce-release-version}/lettuce-${lettuce-release-version}-shaded.jar.asc)|
| lettuce binary (zip) | [lettuce-${lettuce-release-version}-bin.zip](https://github.com/mp911de/lettuce/releases/download/${lettuce-release-version}/lettuce-${lettuce-release-version}-bin.zip)|[lettuce-${lettuce-release-version}-bin.zip.md5](https://github.com/mp911de/lettuce/releases/download/${lettuce-release-version}/lettuce-${lettuce-release-version}-bin.zip.md5)|[lettuce-${lettuce-release-version}-bin.zip.asc](https://github.com/mp911de/lettuce/releases/download/${lettuce-release-version}/lettuce-${lettuce-release-version}-bin.zip.asc)|
| lettuce binary (tar.gz) | [lettuce-${lettuce-release-version}-bin.tar.gz](https://github.com/mp911de/lettuce/releases/download/${lettuce-release-version}/lettuce-${lettuce-release-version}-bin.tar.gz)|[lettuce-${lettuce-release-version}-bin.tar.gz.md5](https://github.com/mp911de/lettuce/releases/download/${lettuce-release-version}/lettuce-${lettuce-release-version}-bin.tar.gz.md5)|[lettuce-${lettuce-release-version}-bin.tar.gz.asc](https://github.com/mp911de/lettuce/releases/download/${lettuce-release-version}/lettuce-${lettuce-release-version}-bin.tar.gz.asc)|



It is essential that you verify the integrity of the downloaded files using the PGP or MD5 signatures.

The PGP signatures can be verified using PGP or GPG. First download the
[KEYS](http://redis.paluch.biz/KEYS) as well as the asc signature file for the relevant distribution.
Make sure you get these files from Maven Central rather
than from a mirror. Then verify the signatures using


    % gpg --import KEYS
    % gpg --verify lettuce-${lettuce-release-version}.jar.asc


Alternatively, you can verify the MD5 signature on the files. A unix program called md5 or md5sum is included
in many unix distributions.


Previous Releases
-----------------

  All previous releases of lettuce can be found in 
  [Maven Central](http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22biz.paluch.redis%22%20AND%20a%3A%22lettuce%22).


Using lettuce on your classpath
-----------------

  To use lettuce in your application make sure that the jars are in the application's classpath. Add
  the dependencies listed below to your classpath.

    lettuce-${lettuce-release-version}.jar
    netty-buffer-${netty-version}.jar
    netty-codec-${netty-version}.Final.jar
    netty-common-${netty-version}.Final.jar
    netty-transport-${netty-version}.jar
    netty-transport-native-epoll-${netty-version}.jar
    netty-handler-${netty-version}.jar
    reactor-3.0.0.RELEASE.jar
    LatencyUtils-2.0.3.jar
    HdrHistogram-2.1.8.jar
    commons-pool2-2.4.2.jar

You can do this from the command line or a manifest file.
