<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MApper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.spring.submitted.autowire.BarMapper">
	<select id="executeBar" resultType="string">
		select * from Bar -- this should run on database Bar, but actually runs on Foo.
	</select>
</mapper>