<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD MApper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.spring.submitted.autowire.FooMapper">
	<select id="executeFoo" resultType="string">
		select * from Foo
	</select>
</mapper>