<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
    					http://www.springframework.org/schema/context
       					http://www.springframework.org/schema/context/spring-context.xsd"
	default-lazy-init="false">
	
	<bean id="dataSource" class="org.hsqldb.jdbc.JDBCDataSource">
		<property name="url" value="jdbc:hsqldb:mem:autowire"/>
	</bean>
	
	<bean id="sqlSessionFactoryA" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="sqlSessionFactoryB" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="sqlSessionTemplateA" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactoryA"/>
		<constructor-arg index="1" value="SIMPLE"/>
		<constructor-arg index="2"><null/></constructor-arg>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="org.mybatis.spring.submitted.autowire" />
		<property name="sqlSessionTemplate" ref="sqlSessionTemplateA" />
	</bean>
</beans>