<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="TestSettings" class="io.lettuce.test.settings.TestSettings"></bean>
    <bean id="ClientResources"
          class="io.lettuce.core.support.ClientResourcesFactoryBean"></bean>

    <bean id="MasterUri" class="io.lettuce.core.RedisURI">
        <property name="host" value="#{TestSettings.host()}"/>
        <property name="port" value="#{TestSettings.port()}"/>
    </bean>

    <bean id="RedisClient1" class="io.lettuce.core.support.RedisClientFactoryBean">
        <property name="redisURI" ref="MasterUri"/>
        <property name="clientResources" ref="ClientResources"/>
    </bean>

    <bean id="RedisClient2" class="io.lettuce.core.support.RedisClientFactoryBean">
        <property name="uri" value="redis://#{TestSettings.host()}:#{TestSettings.port()}/0"/>
        <property name="clientResources" ref="ClientResources"/>
    </bean>

    <bean id="RedisClient3" class="io.lettuce.core.support.RedisClientFactoryBean">
        <property name="uri" value="redis-sentinel://#{TestSettings.host()}:#{TestSettings.port()}/0#master"/>
    </bean>

    <bean id="RedisClusterClient1" class="io.lettuce.core.support.RedisClusterClientFactoryBean">
        <property name="redisURI" ref="MasterUri"/>
        <property name="clientResources" ref="ClientResources"/>
    </bean>

    <bean id="RedisClusterClient2" class="io.lettuce.core.support.RedisClusterClientFactoryBean">
        <property name="uri" value="redis://#{TestSettings.host()}:#{TestSettings.port()}/0"/>
    </bean>
</beans>
