name: Continuous Integration
run-name: "Continuous Integration${{ github.event.inputs.client_libs_test_image_tag != '' && format(' using image: {0}', github.event.inputs.client_libs_test_image_tag) || '' }}"

on:
  push:
    paths-ignore:
      - 'docs/**'
      - '**/*.md'
      - '**/*.rst'
    branches:
      - main
      - '[0-9].*'
      - 'feature/*'
  pull_request:
    branches:
      - main
      - '[0-9].*'
      - 'feature/*'
  schedule:
    - cron: '0 1 * * *' # nightly build
  workflow_dispatch:
    inputs:
      client_libs_test_image_tag:
        description: 'Custom client libs test image tag to use instead of redis_version'
        required: false
        default: ''

jobs:
  build:
    name: Build and Test
    if: github.event.inputs.client_libs_test_image_tag == ''
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        redis_version:
          - "8.6"
          - "8.4"
          - "8.2"
          - "8.0"
          - "7.4"
          - "7.2"
    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - uses: ./.github/actions/run-tests
        with:
          redis_version: ${{ matrix.redis_version }}
          codecov_token: ${{ secrets.CODECOV_TOKEN }}
          redis_env_work_dir: ${{ github.workspace }}/work
          redis_env_conf_dir: ${{ github.workspace }}/src/test/resources/docker-env

  build_using_custom_image:
    name: Build and Test using custom image
    if: github.event.inputs.client_libs_test_image_tag != ''
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: ./.github/actions/run-tests
        with:
          client_libs_test_image_tag: ${{ github.event.inputs.client_libs_test_image_tag }}
          codecov_token: ${{ secrets.CODECOV_TOKEN }}
          redis_env_work_dir: ${{ github.workspace }}/work
          redis_env_conf_dir: ${{ github.workspace }}/src/test/resources/docker-env
