# Note: this workflow is used as a part of redis oss release and test automation in
# redis-developer/redis-oss-release-automation repo
name: Run Lettuce Tests

on:
  workflow_call:
    inputs:
      redis_version:
        description: 'Redis version to test against'
        required: false
        type: string
      client_libs_test_image_tag:
        description: 'Custom client libs test image tag to use instead of redis_version'
        required: false
        type: string
        default: ''
      client_libs_test_image:
        description: 'Custom client libs test image name to use'
        required: false
        type: string
        default: ''
      java_version:
        description: 'Java version to use'
        required: false
        type: string
        default: '8'
      java_distribution:
        description: 'Java distribution to use'
        required: false
        type: string
        default: 'temurin'
      # repository and ref are required for correct checkout when using workflow
      # externally (e.g.: in redis-developer/redis-oss-release-automation)
      repository:
        description: 'Git repository to checkout'
        required: false
        type: string
        default: ''
      ref:
        description: 'Git ref to checkout'
        required: false
        type: string
        default: ''
      redis_env_work_dir:
        description: 'Redis env work directory'
        required: false
        type: string
        default: ''
      redis_env_conf_dir:
        description: 'Redis env conf directory'
        required: false
        type: string
        default: ''
    secrets:
      codecov_token:
        description: 'Codecov token for uploading coverage'
        required: false

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.repository }}
          ref: ${{ inputs.ref }}

      - name: Validate inputs and prepare environment
        id: args
        env:
          REDIS_VERSION: ${{ inputs.redis_version }}
          CLIENT_LIBS_TEST_IMAGE: ${{ inputs.client_libs_test_image }}
          CLIENT_LIBS_TEST_IMAGE_TAG: ${{ inputs.client_libs_test_image_tag }}
          REDIS_ENV_WORK_DIR: ${{ inputs.redis_env_work_dir }}
          REDIS_ENV_CONF_DIR: ${{ inputs.redis_env_conf_dir }}
        run: |
          make_args=()

          if [ -n "$CLIENT_LIBS_TEST_IMAGE" ]; then
            make_args+=(CLIENT_LIBS_TEST_IMAGE="$CLIENT_LIBS_TEST_IMAGE")
          fi

          if [ -n "$CLIENT_LIBS_TEST_IMAGE_TAG" ]; then
            make_args+=(CLIENT_LIBS_TEST_IMAGE_TAG="$CLIENT_LIBS_TEST_IMAGE_TAG")
          elif [ -n "$REDIS_VERSION" ]; then
            make_args+=(version="$REDIS_VERSION")
          else
            echo "Error: redis_version or client_libs_test_image_tag input is required"
            exit 1
          fi

          echo "make_args=${make_args[*]}" | tee -a ${GITHUB_OUTPUT}

          if [ -z "$REDIS_ENV_CONF_DIR" ]; then
            REDIS_ENV_CONF_DIR="${{ github.workspace }}/src/test/resources/docker-env"
          fi
          echo "redis_env_conf_dir=$REDIS_ENV_CONF_DIR" | tee -a ${GITHUB_OUTPUT}

          if [ -n "$REDIS_ENV_WORK_DIR" ]; then
            echo "redis_env_work_dir=$REDIS_ENV_WORK_DIR" | tee -a ${GITHUB_OUTPUT}
          else
            REDIS_ENV_WORK_DIR=$(mktemp -du)
            echo "redis_env_work_dir=$REDIS_ENV_WORK_DIR" | tee -a ${GITHUB_OUTPUT}
          fi

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: ${{ inputs.java_version }}
          distribution: ${{ inputs.java_distribution }}
          cache: 'maven'

      - name: Setup Maven
        uses: s4u/setup-maven-action@v1.19.0
        with:
          checkout-enabled: false
          java-version: ${{ inputs.java_version }}

      - name: Set up Docker Compose environment
        run: |
          mkdir -m 777 $REDIS_ENV_WORK_DIR
          make start ${{ steps.args.outputs.make_args }}
        env:
          REDIS_ENV_CONF_DIR: ${{ steps.args.outputs.redis_env_conf_dir }}
          REDIS_ENV_WORK_DIR: ${{ steps.args.outputs.redis_env_work_dir }}

      - name: Maven offline
        run: mvn -q dependency:go-offline
        continue-on-error: true

      - name: Run tests
        run: |
          export TEST_WORK_FOLDER=$REDIS_ENV_WORK_DIR
          make test-coverage
        env:
          REDIS_ENV_WORK_DIR: ${{ steps.args.outputs.redis_env_work_dir }}
          JVM_OPTS: -Xmx3200m
          TERM: dumb

      - name: Tear down Docker Compose environment
        if: always()
        run: make stop
        continue-on-error: true

      - name: Upload coverage reports to Codecov
        if: ${{ secrets.codecov_token != '' }}
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.codecov_token }}

      - name: Upload test failure reports to Codecov
        if: ${{ always() && secrets.codecov_token != '' }}
        uses: codecov/test-results-action@v1
        with:
          fail_ci_if_error: false
          files: ./target/surefire-reports/TEST*,./target/failsafe-reports/TEST*
          verbose: ${{ runner.debug }}
          token: ${{ secrets.codecov_token }}

